<nav class="navbar navbar-expand-xl bg-light fixed-top shadow-lg">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="float-right">
        <a mat-button class="font nounderline" color="primary">Home</a>
        <a mat-button class="font nounderline" color="accent">Chats</a>
        <a mat-button class="font nounderline" color="warn">Social</a>
        <a mat-button class="font nounderline" color="foreground">About</a>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-mat-6 col-sm-1 offset-lg-3">
            <div class="row">
                <mat-grid-list cols="2">
                </mat-grid-list>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
</div>